<div>
    <h2>Visitor Form</h2>
    <form [formGroup]="visitorForm" (ngSubmit)="submitForm()">
      <!-- Add your form fields here -->
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName" required>
  
      <label for="lastName">Middle Name:</label>
      <input type="text" id="middleName" formControlName="middleName" required>

      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName" required>

      <label for="lastName">Contact Address:</label>
      <input type="text" id="contactaddress" formControlName="contactaddress" required>

      <label for="lastName">Phone Number:</label>
      <input type="text" id="phonenumber" formControlName="phonenumber" required>

      <label for="lastName">PersonHereToSee:</label>
      <input type="text" id="phonenumber" formControlName="phonenumber" required>

      <label for="lastName">ReasonForVisit:</label>
      <input type="text" id="reasonforvisit" formControlName="reasonforvisit" required>

      <label for="lastName">ReasonForVisitDescription:</label>
      <input type="text" id="reasonforvisitdescription" formControlName="reasonforvisitdescription">

      <label for="photo">Photo:</label>
      <input type="file" id="photo" (change)="handlePhotoUpload($event)" accept="image/*">
      <img *ngIf="visitorForm.get('photo').value" [src]="visitorForm.get('photo').value" alt="Visitor Photo">
  
      <button type="submit" [disabled]="visitorForm.invalid">Submit</button>
    </form>
  </div>
  