.menu {
    background-color: #87ceeb;
   
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .menu a:hover {
    color: #f2f2f2;
  }

  @media screen and (max-width: 768px) {
    .menu li {
      flex-basis: calc(33.33% - 15px); /* Three items per row with some space between */
      margin: 0; 
    padding: 0;
    display: inline-block;
    margin-right: 20px;
    
    }
  }