<body>
<div>
    <h2>Tag Management</h2>

    <form [formGroup]="tagForm" (ngSubmit)="createTag()">
        <label for="tagNumber">Tag Number:</label>
        <input type="text" id="tagNumber" formControlName="tagNumber" required>

        <button type="submit">Create Tag</button>
    </form>

    <div *ngIf="tags.length > 0">
    <h3>All Tags</h3>
    <ul>
        <li *ngFor="let tag of tags">{{tag.tagNumber }}
        <span (click)="deleteTag(tag.tagNumber)">
        <i class="fa fa-trash" aria-hidden="true"></i>
        </span>
        </li>
    </ul>
    </div>

</div>
</body>
