<h3 class="text-center">PENDING CHECKOUTS</h3>
<table class="m-1 table table-bordered custom-table w-50 mx-auto "
  style="border: 1px #000 solid !important; border-right: 0px !important;">
  <tbody>
    <tr *ngFor="let visitor of visitors; let i = index">
      <th scope="col">{{ i + 1 }}</th>
      <th scope="col" style="width: 100px !important;">
        <img [src]="visitor.photo" alt="Visitor Photo" style="max-width: 300px;">
      </th>
      <td scope="row" class="lh-1">
        <p><b>Full Name: </b>{{ visitor.fullName}}</p>
        <p><b>Contact Address: </b>{{ visitor.contactAddress}}</p>
        <p><b>Phone Number: </b>{{ visitor.phoneNumber}}</p>
        <p><b>Reason For Visit: </b>{{ visitor.reasonForVisit}}</p>
        <p><b>Reason For Visit Description: </b>{{ visitor.reasonForVisitDescription}}</p>
        <p><b>Person Here To See: </b> {{ visitor.employeeName}}</p>
        <p><b>Department: </b>{{ visitor.departmentName}}</p>
        <p><b>Arrival Time: </b>{{ visitor.arrivalTime | date: 'yyyy-MM-dd HH:mm' }}</p>
        
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" id="photomodal1">
    <div class="modal-content" id="photomodal2">
      <div class="modal-header">
        <h5 class="modal-title" id="photoModalLabel">Visitor Photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modalPhoto" src="" alt="Visitor Photo" class="img-fluid">
      </div>
    </div>
  </div>
</div>