<div class="row mb-3" [formGroup]="searchForm" placeholder="Enter Tag Number">
    <p class="col-md-6">
        <input type="text" class="form-control" formControlName="tagNumber" placeholder="Search visitors"
            (keydown.enter)="searchVisitor()">
        <button class="btn btn-primary" (click)="searchVisitor()">Search</button>
</p>
</div>
<h3 class="text-center">VISITORS</h3>
<table class="m-1 table table-bordered custom-table w-50 mx-auto"
    style="border: 1px #000 solid !important; border-right: 0px !important;">
    <tbody>
        <tr *ngIf="visitors">
            <td *ngFor="let visitor of visitors" style="width: 100px !important;"><img [src]="visitor.photo"
                    alt="Visitor Photo" style="max-width: 300px;">
            </td>
            <td *ngFor="let visitor of visitors" class="lh-1">
                <p><b>Full Name: </b>{{ visitor.fullName}}</p>
                <p><b>Contact Address: </b>{{ visitor.contactAddress}}</p>
                <p><b>Phone Number: </b>{{ visitor.phoneNumber}}</p>
                <p><b>Reason Fo rVisit: </b>{{ visitor.reasonForVisit}}</p>
                <p><b>Reason For Visit Description: </b>{{ visitor.reasonForVisitDescription}}</p>
                <p><b>Person Here To See: </b> {{ visitor.employeeName}}</p>
                <p><b>Department: </b>{{ visitor.departmentName}}</p>
                <p><b>Arrival Time: </b>{{ visitor.arrivalTime | date: 'yyyy-MM-dd HH:mm' }}</p>
                <button class="btn btn-primary"
                    (click)="checkoutVisitor(visitor.id, visitor.tagNumber)">CheckOut</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" id="photomodal1">
        <!-- Center the modal and increase size -->
        <div class="modal-content" id="photomodal2">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">Visitor Photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalPhoto" src="" alt="Visitor Photo" class="img-fluid"> <!-- Make the image responsive -->
            </div>
        </div>
    </div>
</div>