body {
    overflow: hidden;
}

.container {
    margin: 0;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(25, 3, 3); 
    font-size: 2em;
    overflow: hidden !important;
    cursor: pointer;
  }
  
  .container h1, br {
    margin: 0;
    text-align: center;
    margin-left: 200px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 600px) {
    div {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    button {
      font-size: 14px;
    }
  }
  
  