body {
  overflow: hidden !important;
}

.container h1, br {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(25, 3, 3);
  overflow: hidden !important;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container, h1, br {
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden !important;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .container, h1, br {
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden !important;
    align-items: center;
    justify-content: center;
  }
}

  