        <div>
          <h2>Create User</h2>
          <form [formGroup]="userForm" (ngSubmit)="createUser()">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" formControlName="username" required>
            
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" formControlName="password" required>

            <label for="department">Department:</label>
            <select id="department" formControlName="department" required>
              <option *ngFor="let department of departments" [value]="department.departmentName">{{
                department.departmentName
                }}</option>
            </select>

            <button type="submit" class="btn btn-primary">Create User</button>
          </form>
        </div>


          