div {
    margin: auto;
    width: 50%;
}

#tagAssign {
    margin: 0px;
}


label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 30%;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message,
.success-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.error-message {
    background-color: #ffdddd;
    color: #ff0000;
}

.success-message {
    background-color: #d4edda;
    color: #28a745;
}

#photoModal {
    max-width: 100vw;
    align-self: center;
}

#photomodal1 {
    max-width: 100vw;
    align-self: center;
}

#photomodal2 {
    max-width: 100vw;
    align-self: center;
}

#modalPhoto {
    max-width: fit-content;

}

/* Adjustments for phones */
@media (max-width: 767px) {
    .custom-table {
      width: 100% !important;
    }
  }
  
  /* Adjustments for tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    .custom-table {
      width: 80% !important;
    }
  }
  
  /* Adjustments for laptops/desktops */
  @media (min-width: 992px) {
    .custom-table {
      width: 50% !important;
    }
  }
  



  