<div class="row mb-3" [formGroup]="searchForm">
  <div class="col-md-6">
    <input type="text" class="form-control" formControlName="searchTerm" placeholder="Search visitors" (keydown.enter)="searchVisitors()">
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary" (click)="searchVisitors()">Search</button>
  </div>
</div>

<div>
  <p>Current Visitors in the Building: {{ currentVisitorsCount }}</p>
</div>


<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Visitor ID</th>
      <th>Full Name</th>
      <th>Contact Address</th>
      <th>Phone Number</th>
      <th>Reason for Visit</th>
      <th>Person here to see</th>
      <th>Photo</th>
      <th>Arrival Time</th>
      <th>Departure Time</th>
      <th>Duration</th>
      <th>Tag Assignment</th>
      <th>Check Out</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let visitor of filteredVisitors">
      <td>{{ visitor.id }}</td>
      <td>{{ visitor.fullName }}</td>
      <td>{{ visitor.contactAddress }}</td>
      <td>{{ visitor.phoneNumber }}</td>
      <td>{{ visitor.reasonForVisit }}</td>
      <td>{{ visitor.employeeName }}</td>
      <td><img [src]="visitor.photo" alt="Visitor Photo" style="max-width: 100px;"></td>
      <td>{{ visitor.arrivalTime }}</td>
      <td>{{ visitor.departureTime }}</td>
      <td>{{ calculateDuration(visitor.arrivalTime.toString(), visitor.departureTime.toString()) }}</td>
      <td>
        <div [formGroup]="tagAssignmentForm">
          <input type="text" class="form-control" formControlName="selectedTag" placeholder="Enter Tag Number">
          <button class="btn btn-primary" (click)="assignTagToVisitor(visitor.id, tagAssignmentForm.get('selectedTag')?.value)">Assign Tag</button>
        </div>
      </td>
      <td>
        <button class="btn btn-primary" (click)="checkoutVisitor(visitor.id)">Check Out</button>
      </td>
    </tr>
  </tbody>
</table>
