<body>
  <div>
    <h2>Employees</h2>
    <p>Please enter in the following details</p>
    <form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
      <label for="employeeNumber">Employee Number:</label>
      <input type="text" id="employeeNumber" formControlName="employeeNumber" required>

      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName" required>

      <label for="middleName">Middle Name:</label>
      <input type="text" id="middleName" formControlName="middleName">

      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName" required>

      <label for="department">Department:</label>
      <select id="department" formControlName="department" required>
        <option *ngFor="let department of departments" [value]="department.departmentName">{{ department.departmentName
          }}</option>
      </select>

      <button type="submit">Add</button>
    </form>

    <div *ngIf="employees.length > 0">
      <h3>All Employees</h3>
      <ul>
        <li *ngFor="let employee of employees">{{ employee.employeeNumber }} {{ employee.firstName }} {{ employee.middleName }} {{ employee.lastName }} 
          <span (click)="deleteEmployee(employee.employeeNumber)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </span>
          <span (click)="editEmployee(employee)">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</body>