<div>
    <h2>Search Visitors</h2>
<form [formGroup]="searchForm" (ngSubmit)="submitForm()" class="search-form">
  <div class="search-field">
    <label for="arrivalTime">Check-In Date:</label>
    <input type="date" id="arrivalTime" formControlName="arrivalTime">
  </div>

  <div class="search-field">
    <label for="employeeNumber">Employee Number:</label>
    <input type="text" id="employeeNumber" formControlName="employeeNumber">
  </div>

  <div class="search-field">
    <label for="tagNumber">Tag Number:</label>
    <input type="text" id="tagNumber" formControlName="tagNumber">
  </div>

  <button type="submit">Search Visitors</button>
</form>

  
    <div *ngIf="visitors && visitors.length > 0">
      <table>
        <!-- Table headers -->
  
        <tbody>
          <tr *ngFor="let visitor of visitors; let i = index">
            <!-- Table data -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  