.admin {
    background-color: #87ceeb;
    padding: 10px;
    margin-top: 20px;
  }
  
  .admin ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .admin li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .admin a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .admin a:hover {
    color: #f2f2f2;
  }
  
  /* Adjustments for phones */
@media (max-width: 767px) {
  .custom-table {
      width: 100% !important;
  }
}

/* Adjustments for tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .custom-table {
      width: 100% !important;
  }
}

/* Adjustments for laptops/desktops */
@media (min-width: 992px) {
  .custom-table {
      width: 50% !important;
  }
}