div {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
 
  h2 {
    color: #01021b;
  }
  
  p {
    color: #190f0f;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #0d181c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



  .cancel-button {
    background-color: #750e03; /* Red color for cancel button */
    margin-left: 10px;
  }
  
  .submit-button {
    background-color: #2ecc71; /* Green color for submit button */
  }

  p {
    font-family: Lato;
  }
  
  
  .statusDropdownContainer, .calendarBtnContainer{
      padding-top: 6px;
  }
  
  .statusFilterDropdown{
      box-shadow: -2px 2px 4px 0px #888;
      background-color: #f2f8f9;
      border: 1px solid #d3d3d3;
  }
  
  
  .flex-middle{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  
  img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  @media screen and (max-width: 600px) {
    div {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    button {
      font-size: 14px;
    }
  }
  
  .input-container {
    position: relative;
  }
  
  .suggestions {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 999;
    width: 100%;
  }
  
  .suggestions li {
    cursor: pointer;
    padding: 5px;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  
  