<body>
  <div>
    <h2>Visitor Form</h2>
    <p>Please fill in the following details</p>
    <form [formGroup]="visitorForm" (ngSubmit)="submitForm()">
      <label for="firstName">Full Name:</label>
      <input type="text" id="fullName" formControlName="fullName" required>

      <label for="contactAddress">Contact Address:</label>
      <textarea id="contactAddress" formControlName="contactAddress" rows="3" cols="75" required></textarea>

      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" formControlName="phoneNumber" placeholder="Enter phone number" required>

      <label for="personheretosee">Person Here To See:</label>
      <select id="employeeNumber" formControlName="employeeNumber" required>
        <option disabled value="">Please select the person to see</option>
        <option *ngFor="let employee of employees" [value]="employee.employeeNumber">
          {{ employee.lastName }} {{ getInitials(employee.firstName) }} {{ getInitials(employee.middleName) }}
        </option>
      </select>

      <label for="reasonForVisit">Reason For Visit:</label>
      <select formControlName="reasonForVisit" required>
        <option *ngFor="let reason of reasons" [value]="reason.value">{{ reason.label }}</option>
      </select>

      <label for="reasonForVisitDescription">Reason For Visit Description:</label>
      <input type="text" id="reasonForVisitDescription" formControlName="reasonForVisitDescription">

      <button type="button" (click)="quitForm()">Quit</button>

      <app-camera (photoCaptured)="handlePhotoCapture($event)"></app-camera>

      <button type="submit" *ngIf="!formSubmitted && visitorForm.valid">Submit</button>
    </form>
  </div>
</body>