.entry {
    background-color: #87ceeb;
    padding: 10px;
    margin-top: 20px;
  }
  
  .entry ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .entry li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .entry a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .entry a:hover {
    color: #f2f2f2;
  }
  