<body>
    <div>
        <h2>Create Departments</h2>
        <form [formGroup]="departmentForm" (ngSubmit)="submitForm()">
    
            <label for="departmentname">Department Name:</label>
            <input type="text" id="departmentName" formControlName="departmentName" required>
          
          <button type="submit">Add</button>
        </form>

        <div *ngIf="departments.length > 0">
        <h3>All Departments</h3>
        <ul>
            <li *ngFor="let department of departments">{{ department.departmentName}}
            <span (click)="deleteDepartment(department.departmentId)">
            <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
            </li>
        </ul>
        </div>
      </div>
    </body>
      